@font-face {
    font-family: 'Material Symbols Outlined';
    font-style: normal;
    font-weight: 400;
    src: url(./fonts/MaterialSymbolsOutlined.woff) format('woff');
}

@font-face {
    font-family: 'Sora';
    font-style: normal;
    src: url(./fonts/Sora-VariableFont_wght.ttf) format('truetype');
}

@font-face {
    font-family: 'Darker Grotesque Regular';
    font-style: normal;
    font-weight: 400;
    src: url(./fonts/DarkerGrotesque-Regular.ttf) format('truetype');
}

@font-face {
    font-family: 'Darker Grotesque Medium';
    font-style: normal;
    font-weight: 500;
    src: url(./fonts/DarkerGrotesque-Medium.ttf) format('truetype');
}

@font-face {
    font-family: 'Darker Grotesque SemiBold';
    font-style: normal;
    font-weight: 600;
    src: url(./fonts/DarkerGrotesque-SemiBold.ttf) format('truetype');
}
